header {
    height: 57px;
}

nav.bg-low_dark {
    background-color: #343a40;
    max-width: 250px;
    position: absolute;
    min-height: 100%;
}

.text-nav_light {
    color: #c2c7d0;
}

.hide-btn_style {
    background: transparent;
    border: 0;
    margin-top: 11px;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: inline !important;
}
